@use '../variable/colors';
@use '../components/button.module.scss';

.dataForm {
    position: relative;
    color: white;
    background-color: colors.$strongPrimary;
    border-radius: 5px;
    padding: 30px 15px;
    min-width: 270px;
    width: 80%;
    height: max-content;
    margin: 60px auto;
}
