@use '../variable/colors';

.dataForm {
    position: relative;
    color: white;
    background-color: colors.$strongPrimary;
    border-radius: 5px;
    padding: 40px 15px;
    min-width: 220px;
    width: 80%;
    height: max-content;
    // display: flex;
    // flex-direction: column;
    margin: 60px auto;
    

}