.headerForm{
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: max-content;
    background-color: darkorange;
    margin-bottom: 30px;
    div{
        display: flex;
        justify-content: center;
        align-items: center;
        .iconDataForm{
            width: 40px;
            height: 40px;
            background-color: crimson;
        }
        h5{
            margin: 0;
            background-color: darkmagenta;
        }
    }
}