$softerPrimary:#5EADF2;
$softPrimary: #4680B3;
$primary: #284966;
$strongPrimary: #2D5273;
$strogestPrimaty: #1E374D;

$softerSecondary:#FFCC80;
$softSecondary: #FFA866;
$secondary: #FF8426;
$strongSecondary: #B36020;
$strogestSecondary:#733F17;

$distortedPrimary: rgba(40, 73, 102, 0.6);

$title: rgb(86, 86, 235);