$fontFamilylTitle:  'Tillana',Roboto, Helvetica;
$fontFamilylContent: 'Nunito', sans-serif,Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans;

$fontSizeXXL: 3rem;
$fontSizeXL: 2.44rem;
$fontSizeL: 1.95rem;
$fontSizeM: 1.56rem;
$fontSizeS: 1.25rem;

$fontSizeContent: 1rem;
$fontSizeHints: 0.85rem;


